<h1>Welcome to my App</h1>
<p>Hi I am Trn</p>
<img src="http://footnotescounseling.com/wp-content/uploads/2014/06/neuroscience.jpg"/>
<p class="description">
	welcome to my beautiful app. This app is designed to help people who have ideas for apps record their ideas for later. 
</p>
